{% extends 'clients/base.html' %}

{% block title %}Add New Client{% endblock %}

{% block sidebar %}
<h2>Add New Client:</h2>
<p>Use this form to enter details of a new client into the system.</p>
<ul>
    <li><a href="{% url "search_clients" %}">Search Client</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Add New Client</h1>
<!-- Form for adding a new client -->
<form method="post" action="{% url 'add_client' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <p style="color: gray;">Your IP Address: {{ ip_address }}</p>
    <button type="submit">Add Client</button>
</form>
{% endblock %}