{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"> <!-- Prevent indexing by search engines -->
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'latest_clients' %}">Home</a></li>
            <li><a href="{% url 'search_clients' %}">Search Client</a></li>
            <li><a href="{% url 'add_client' %}">Add New Client</a></li>
            <li><a href="{% url 'api-documentation' %}">API Documentation</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="sidebar">
            {% block sidebar %}
            <!-- Default sidebar content -->
            {% endblock %}
        </div>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>